.main {
  margin: 0 9px;
}
.points {
  margin: 20px 13px;
  background:
    url(../../assets/images/split_line_re.png) no-repeat left center,
    url(../../assets/images/split_line.png) no-repeat right center;
  background-size: 64.5px 7.5px;
  letter-spacing: 1.35px;
  display: flex;
  align-items: center;
  justify-content : center;
  font-size: 15px;
  color: #333333;
  img{
    width: 22.5px;
    height: 19.5px;
    margin-right: 10px;
  }
  span {
    color: #f99a4e;
  }
}

.total {
  background: linear-gradient(to right, #5d6de6, #7955d4);
  border-radius: 10px;
  width: 100%;
  height: 24px;
  color: #fff;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    padding: 0px 13px;
    border-right: 1px solid #fff;
    &:last-child {
      border-right: none;
    }
  }
  span {
    color: #f99a4e;
  }
}

.missionPanel {
  margin: 18px 0px;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 15%);
  border-radius: 10px;
  padding: 15px 9px;
}

.mission {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 14px;
  border-bottom: 1px solid #eeeeee;
  &:last-child {
    border-bottom: none;
  }

  .detail {
    font-weight: 500;
    display: flex;
    align-items: center;
    .walk {
      width: 20.5px;
      height: 20.5px;
      margin-right: 15px;
    }
    span {
      color: #6578c0;
    }
  }
}

.coin {
  background-image: url(../../assets/images/coin.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
  background-size: cover;
}
