// :global (.ant-drawer-content) {
//   border-top-right-radius: 25px;
//   border-top-left-radius: 25px;
// }
// .drawerPanel {
//     (:global)(.aaa) {}
// }

.drawerPanel {
  :global .ant-drawer-content {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    overflow: unset;
  }
  :global .ant-drawer-header {
    background: transparent;
    padding: 0;
    border: none;
  }
}
