.wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.6);
  z-index: 10;
}

.content {
  position: relative;
  margin: 0px 5vh;
  img {
    width: 100%;
  }
}

.button {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
}
