.button {
  text-align: center;
  border: 1px solid #0b3b65;
  padding: 6px 8px;
  font-size: 12px;
  border-radius: 10px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  padding: 14px;
}

.entry {
  margin: 0px 9px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
  .position {
    position: absolute;
    width: 100%;
    bottom: 26px;
    padding: 0px 30px;
  }
}
.total {
  color: #b5eef8;
  font-size: 12px;
  margin-bottom: 10px;
  margin-left: 16px;
}
.startBtn {
  margin: 0 auto;
  width: 292px;
  height: 42px;
  border-radius: 40px;
  text-align: center;
  line-height: 42px;
  color: #fff;
  font-size: 15px;
  background-image: linear-gradient(to right, #f98b4f, #f7cd3d);
}

.progress {
  width: 205px;
  height: 85px;
  margin: 0 auto;
}
