.button {
  text-align: center;
  border: 1px solid #666666;
  padding: 6px 8px;
  font-size: 12px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 26px;
  background-size: 16px 16px;
}
.rank {
  @extend .button;
  background-image: url(../../assets/images/rank_icon.png);
}
.info {
  @extend .button;
  background-image: url(../../assets/images/light.png);
}
.buttons {
  display: flex;
  justify-content: space-between;
  padding: 14px;
}

.entry {
  margin: 0px 9px;
  margin-top: 10px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
  .position {
    position: absolute;
    width: 100%;
    bottom: 26px;
    padding: 0px 30px;
  }
}
.entry2 {
  margin: 20px 9px;
  margin-top: 10px;
  height: 90px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
  .position {
    position: absolute;
    font-size: 12px;
    color: #b5eef8;
    width: 100%;
    bottom: 35px;
    right: 0;
    width: 200px;
    text-align: center;
    span {
      color: #fdae87;
      font-weight: bold;
    }
  }
}
.total {
  color: #b5eef8;
  font-size: 12px;
  margin-bottom: 10px;
  margin-left: 16px;
}
.startBtn {
  margin: 0 auto;
  width: 292px;
  height: 42px;
  border-radius: 40px;
  text-align: center;
  line-height: 42px;
  color: #fff;
  font-size: 15px;
  background-image: linear-gradient(to right, #f98b4f, #f7cd3d);
}
.totalSteps {
  position: absolute;
  bottom: 20px;
  left: 220px;
  font-size: 12px;
  color: #999999;
}

.progress {
  width: 255px;
  height: 110px;
  margin: 0 auto;
  position: relative;
  color: #333;
  .progressbar {
    position: absolute;
    bottom: 0;
    svg {
      transform: scaleX(-1);
    }
  }
  .title {
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
  .value {
    font-size: 36px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    font-weight: bold;
  }
}
