.topBar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 401;
  padding: 30px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topBar2 {
  @extend .topBar;
  padding: 30px 35px;
}

.bottomBar {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 401;
}
