.toggleButton{
    color: #898989;
    display: flex;
    align-items: center;
    width: 135px;
    height: 40px;
    background-color: #fff;
    border-radius: 20px;
    justify-content: center;
    padding: 4px;
    font-size: 9px;
    img{
        height: 100%;
        margin-right: 4px;
    }
}

.avatarBox{
    position: relative;
    height: 40px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 10px;
    padding: 0 9px;
    padding-top: 19px;
    font-size: 12px;
    color: #000000;
    .avatar{
      position: absolute;
      left: 9px;
      top: -50%;
    }
    .text{
      width: 40px;
    }
    .ext{
      font-size: 12px;
      span{
        color: #6578c0;
      }
    }
}

.getPoint{
  padding: 2px 11px;
  border-radius: 20px;
  background-color: #ffffff;
  .inner{
    height: 36x;
    line-height: 36px;
    display: flex;
    align-items: center;
  }
  img{
    width: 16px;
    height: 14.5px;
    margin-right: 5px;
  }
}


.shadow{
  box-shadow: 0 0 8px 0px rgba($color: #000000, $alpha: 0.1);
}