.toolbar {
  background-color: rgba($color: #ffffff, $alpha: 0.9);
  border-radius: 23px;
  padding: 6px 20px;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
}
.toolbar_v2{
  display: flex;
  justify-content: space-between
}

.fullToolbar {
  @extend .toolbar;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left {
    display: flex;
    align-items: center;
  }
}

.blockToolbar {
  @extend .toolbar;
  display: inline-block;
}

.avatar {
  display: inline-block;
  margin-right: 10px;
}
.left {
  display: flex;
  align-items: center;
}
.score {
  font-size: 15px;
  margin-right: 10px;
  font-weight: 600;
}
.distance {
  font-size: 12px;
  span {
    color: #1244a8;
  }
}

.followBtn {
  width: 100px;
  height: 30px;
  background-color: #74d769;
  color: #fff;
  font-size: 15px;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
}

.scoreBtn {
  width: 52px;
  height: 30px;
  color: #fff;
  font-size: 12px;
  border-radius: 10px;
  text-align: center;
  line-height: 30px;
  background-image: linear-gradient(to right, #f98b4f, #f7cd3d);
}

.toggleBtn{
  color: #898989;
  display: flex;
  align-items: center;
  width: 135px;
  height: 40px;
  background-color: #fff;
  border-radius: 20px;
  justify-content: center;
  padding: 4px;
  font-size: 9px;
  img{
    height: 100%;
    margin-right: 4px;
  }
}

.user{
  position: relative;
  width: 58px;
  height: 40px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 10px;
  padding-top: 19px;
  font-size: 12px;
  color: #000000;
  .avatar{
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.left{
  display: flex;
}

.point{
  img{
    width: 16px;
    height: 14px;
    margin-right: 5px;
  }
  justify-content: center;
  font-size: 12px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  height: 40px;
  width: 71px;
}