.userItem {
  display: flex;
  justify-content: space-between;
  .user {
    display: flex;
    align-items: center;
  }
  .avatar {
    margin: 0 15px;
  }
  .rank {
    font-weight: 600;
  }
  .name {
    font-size: 15px;
  }

  .extra {
    display: flex;
    align-items: center;
  }
  .steps {
    font-size: 15px;
    margin-right: 10px;
  }
  .fav {
    font-size: 12px;
    color: #999;
    padding: 5px;
  }
}

.medal {
  background-size: cover;
  background-repeat: no-repeat;
  width: 19px;
  height: 26px;
}

.silver {
  @extend .medal;
  background-image: url(../../assets/images/silver.png);
}

.gold {
  @extend .medal;
  background-image: url(../../assets/images/gold.png);
}

.bronze {
  @extend .medal;
  background-image: url(../../assets/images/bronze.png);
}
