.modal{
    background-color: #ffffff;
    border-radius: 8px;
    position: relative;
}

.pic{
    width: 100px;
    height: 100px;
    background-color: #08c;
    left: 50%;
    top: -50%;
    transform: translate(-50%, 50%);
    border-radius: 100%;
    // img{
    //     width: 90px;
    //     height: 90px;
    // }
    position: absolute;
    border: 5px solid #ffffff;
}

.title{
    background:
    url(../../assets/images/split_line_re.png) no-repeat left center,
    url(../../assets/images/split_line.png) no-repeat right center;
    background-size: 64.5px 7.5px;
    font-size: 16px;
    margin: 0px 20px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    // margin-top: 20px;
}

.desc{
    color: #666666;
    margin: 20px 0;
}
.error{
    color: #ff0000;
    margin: 10px 0;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body{
    padding: 20px;
    padding-top: 60px;
}