.toolbar {
  background-color: rgba($color: #3f56b0, $alpha: 0.8);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: #fff;
  position: relative;
  height: 90px;
}
.line {
  display: flex;
  justify-content: space-between;
  padding: 0px 25px;
  // padding-bottom: 20px;
  align-items: center;
  height: 100%;
}
.detail {
  color: #fff;
  font-size: 15px;
  img {
    width: 100px;
  }
}
.followBtn {
  color: #686772;
  background-color: #eeeeee;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
}

.position {
  position: absolute;
  width: 100%;
  top: -20px;
  text-align: center;
}
.startBtn {
  width: 90px;
  height: 90px;
  background-image: linear-gradient(#80e3d6, #3527b1);
  border-radius: 90px;
  border: 5px solid #fff;
  color: #fff;
  line-height: 80px;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  box-shadow: 0px 3px 13px -2px #484848;
  margin-top: -40px;
}

.toast {
  text-align: center;
  width: 193px;
  left: 50%;
  transform: translate(-50%);
  top: -70px;
  position: absolute;
  background-color: rgba(39, 37, 59, 0.8);
  height: 35px;
  padding: 0px 23px;
  font-size: 15px;
  color: #fff;
  line-height: 35px;
  border-radius: 17px;
}
